{% extends 'layout.html.twig' %}

{% block body %}

    <h2>{{ news.title }}</h2>
    <div class="row">
        <div class="col-lg-9">

        </div>

        <div  class="add_news_btn col-lg-3">
            <a type="button" href="{{ path('news_download', { 'id': news.id }) }}" class="btn btn-primary">Download</a>

            <a type="button" href="{{ path('news_delete', { 'id': news.id }) }}" class="btn btn-danger delete-news">Delete</a>

        </div>

        <p class="lead">
            {{ time_diff(news.created) }} by <a href="#">Ganesh</a>
        </p>

        <hr>

        <div>
            {%  if news.imageName  is not empty  %}
            <p style="float: left; padding-right: 20px">
                {%
                set image =  '/images/news/' ~ news.imageName
                %}

                <img src="{{ image  }}" />
            </p>
            {% endif %}
            <p class="lead">
                {{ news.description|raw  }}

            </p>
        </div>

    </div>

{% endblock %}
