{% extends 'layout.html.twig' %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('/css/login.css') }}" />
{% endblock %}
{% block body %}

    <div class="modal-dialog">
    <div class="loginmodal-container">
        <h1>Enter Your Password</h1><br>
        {{ form_start(form)}}
        {#{{ form_label(form.plainPassword) }}<span class="required">*</span>#}
        {{ form_widget(form.plainPassword) }}
        <div class="error">
            {{ form_errors(form.plainPassword) }}
        </div>
        <input type="submit" class = "login loginmodal-submit"></input>
        {{ form_end(form) }}
    </div>
    </div>






{% endblock %}